


/*Nav-bar*/
#NavBar :hover {
  color: rgb(76, 0, 255);

}

#ActivePage {
  color: rgb(0, 47, 255);
}


/*fim*/




/*body*/

body {
  background-color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

#container-1 {
 justify-content: center;
 align-items: center;
  padding: 25px;
  margin-top: 80px;
  margin-bottom: 40px;
}

#buttons :hover {
  background-color: rgb(76, 0, 255);


}


#container-2 {
  background-color: rgb(0, 47, 255);
  height: 800px;
  padding: 25px;
  justify-content: center;
}

.ConjuntoCarros {
  display: flex;
  ;
}


#box_carroVeloz {
 padding: 20px;
}

#imgBuggati {
  border-radius: 15px;
}

#imgCarroOficina {
  border-radius: 15px;
}



/*fim*/



/*resoluçoes*/

@media (max-width:1080px) {
  #col1 {
    margin-top: 100px;


  }
}

@media (max-width:1080px) {
  #boxCarros {
    margin-left: 80px;
    align-items: center;


  }
}


@media (max-width:590px) {
  #boxCarros {
    display: block;


  }
}


/*Fim*/